*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;    
    object-fit: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navigation 
{
    font-size: 0;
    text-align: center;   
}
.nav__item 
{    
    padding: 77px 54px 100px;  
    display: inline-block;
    box-sizing: border-box;    
/* line height 24 */
}
.nav__link
{
    font-size: 14px;  
    font-weight: 400; 
    text-decoration: none;
    font-family: "Playfair Display";
    color: #626262;
}
.nav__link:hover
{
   color: #03a9f4;
}

h3{     
    font-size: 14px;
    color: #b4ad9e;
    font-family: "Ubuntu";
    font-weight: 300;
    box-sizing: border-box;
    padding: 27px 0px 13px;
}

h2{    
    font-size: 30px;
    color: #626262;
    font-family: "Playfair Display";
    font-weight: 400;
    padding: 0px 0px 32px;
}
.img__wrapper{
    width: 420px;
    height:280px;
    overflow: hidden;
}
.post__area{
    font-size: 0px;
    display: inline-block;
}

.article__text{
font-size: 14px;
line-height: 24px;
color: #626262;
font-family: "Playfair Display";
font-weight: 400;
width: 420px;
}
.article__item{
    vertical-align: top;
    display: inline-block;
    margin-left: 0px;
    box-sizing: content-box;    
    padding: 0px 150px 0px 28px;    
    margin: 0px 0px 130px 0px;
}
.article__item:not(:nth-of-type(2n)){
        margin-right: 0px;    
        padding: 0px 28px 0px 150px;  
}
.article__item:nth-last-child(n-2)
{
    margin: 0px 0px 54px 0px;
}
button {    
    width: 164px;
    height: 60px;
    background-color: #ddddd7;
    border: 1px solid #626262;
    background-color: #ffffff;
    font-size: 20px;   
    color: #626262;
    font-family: "Playfair Display";
    font-weight: 400;
}
.button{
    text-align: center;
    margin: 0px 0px 70px;
}